<a href="https://colab.research.google.com/github/fordj06/Python_Various/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

## making a list

In [3]:
# making a list 
listX = [3, "hello", 1]
print(listX)

[3, 'hello', 1]

## adding to a list

In [4]:
# adding to a list 
listX.append(7)
print(listX)

[3, 'hello', 1, 7]

## Accessing list items at specific locations

In [5]:
# Accessing list items at specific locations 
print("listX[0] :", listX[0])
print("listX[1] :", listX[1])
print("listX[2] :", listX[2])
print("listX[-1] :", listX[-1])   #the last item
print("listX[-2] :", listX[-2])   # second to last item

listX[0] : 3
listX[1] : hello
listX[2] : 1
listX[-1] : 7
listX[-2] : 1

## Slicing

In [7]:
# List slicing 
print(listX[:])   # full list
print(listX[2:])  # from 2nd to last 
print(listX[1:3]) # from 1st to 3rd 
print(listX[:-1]) # all excluding last

[3, 'hello', 1, 7]
[1, 7]
['hello', 1]
[3, 'hello', 1]

## Length of list

In [8]:
# length of list 
len(listX)

4

## Replacing list items

In [9]:
#replacing items in a list 
listX[1] = "hi"   # replace the value at index 1 with "hi"
print(listX)

[3, 'hi', 1, 7]

## List concatination

In [10]:
# Combining list's (concatination)
listY = [2.4, "world"]
listZ = listX + listY

print(listZ)

[3, 'hi', 1, 7, 2.4, 'world']

# Tuples 

Tuples are objects in python that can hold data but you cannot replace the values. This is know as an immutable data object

In [16]:
# Creating a tuple
tupleX = (3.0, "hello")
print(tupleX)

(3.0, 'hello')

In [17]:
# Adding values to tuples
tupleX = tupleX + (5.6,) #NOTE the comma is required
print(tupleX)

(3.0, 'hello', 5.6)

# Dictionaries

Dictionaries are python objects that hold key-value pairs. A dictionary cannot have two of the same key.

In [20]:
# Creating a dictionary 
jack = {"name": "Jack",
        "eye_color" : "green"}
print(jack)
print(jack["name"])
print(jack["eye_color"])

{'name': 'Jack', 'eye_color': 'green'}
Jack
green

In [21]:
# changing the valuye of a key
jack["eye_color"] = "black"
print(jack)

{'name': 'Jack', 'eye_color': 'black'}

In [22]:
# Adding a new key-value pair 
jack["age"] = 23 
print(jack)

{'name': 'Jack', 'eye_color': 'black', 'age': 23}

In [23]:
# length of dictionary (number of key-pairs)
print(len(jack))

3

# If statements

In [24]:
# If statement 
x = 4
if 4 < 1:
  score = "low"
elif x <= 4:
  score = "medium"
else:
  score = "high"
print(score)

medium

In [25]:
# If statement with boolean 
x = True
if x:
  print("its TRUE")
else:
  print("FALSE yo")

its TRUE

# Loops

In [28]:
# for loop 
x = 1
for i in range(3):
  x += 1
  print("i={0}, x={1}".format(i, x))

i=0, x=2
i=1, x=3
i=2, x=4

In [29]:
# looping through a list 
x = 1
for i in [0,1,2] :
  x += 1
  print("i={0}, x={1}".format(i, x))

i=0, x=2
i=1, x=3
i=2, x=4

In [30]:
# while loop 
x = 3
while x > 0:
  x -= 1
  print(x)

2
1
0

# Functions

In [31]:
# create a function
def add_two(x):
  x += 2
  return x

# use the function
score = 0
score = add_two(x=score)
print(score)

2

In [32]:
# function with multiple inputs
def join_name(first_name, last_name):
  joined_name = first_name + " " + last_name
  return joined_name

#use the function
first_name = "jacko"
last_name = "wacko"
joined_name = join_name(first_name=first_name, last_name=last_name)
print(joined_name)

jacko wacko

# Classes

In [0]:
# create the class
class Pets(object):
  
  # initialize the class
  def __init__(self, species, color, name):
    self.species = species
    self.color = color
    self.name = name
    
  # for printing
  def __str__(self):
    return "{0} {1} named {2}.".format(self.color, self.species, self.name)
  
  #example function
  def change_name(self, new_name):
    self.name = new_name

In [35]:
# making an instance of a class 
my_dog = Pets(species="dog", color="black", name="eddy")
print(my_dog)
print(my_dog.name)

black dog named eddy.
eddy

In [36]:
# using a classes function
my_dog.change_name(new_name="billy")
print(my_dog)
print(my_dog.name)

black dog named billy.
billy